.container{
    display: grid;
    height: 100vh;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
    padding: 0%;
    margin-left: 3.5%;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center; /* Center the image vertically */
    overflow: hidden; /* Hide any overflow from the image */
}

@font-face {
    font-family: "warFont";
    src: url(./fonts/WARBRUSH.ttf);
}

h1{
display: flex;
justify-content: center;
font-family: warning;
}


body {
        animation: gradientAnimation 5s infinite alternate;
        background: linear-gradient(90deg, rgba(227, 63, 63, 0.844) 0%, rgb(158, 158, 237) 35%, rgb(234, 143, 210) 100%);
        background-size: 300%;
    }



@keyframes gradientAnimation {
    0% {
        background-position: right 0%;
    }
    100% {
        background-position: left 100%;
    }
}


.one{
    transition: transform 0.3s ease;
}


.two{
    grid-column: span 2;
    transition: transform 0.3s ease;
}

.three{
    grid-row: span 2;
    transition: transform 0.3s ease;
}

.four{
    grid-column: span 2;
    transition: transform 0.3s ease;

}

.five{
    transition: transform 0.3s ease;

}

.jcole {
    width: 120%;
    object-fit: cover;
    
}

.drake{
    width: 100%;
    margin-top: 40%;
    object-fit: cover;
}

.future{
    height: 100%;
    object-fit: cover;

}

.metroboomin{
    width: 100%;
}

.kendrick {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-container {
    display: flex;
    justify-content: center;
    padding: 3%;
}

.artistname{
    display: flex;
    gap: 50px;
}

.btn-one,
.btn-two,
.btn-three,
.btn-four,
.btn-five {
    color: #d6d2d2;
    border: none;
    background-color: transparent;
    transition: transform 0.3s ease;
}

@font-face {
    font-family: "warning";
    src: url(./fonts/Warning.ttf);
}



.btn-one:hover,
.btn-two:hover,
.btn-three:hover,
.btn-four:hover,
.btn-five:hover {
    font-family: warning;
    }
